---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const posts = await Astro.glob("../pages/**/*.md");
---
<BaseLayout>
	<main id="blog">
        <article>
            <p>Just a post!</p>
           <BlogPost allPosts={posts}/> 
        </article>
    </main>	
</BaseLayout>