---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<nav>
            <ul>
                <li><a href="/" target="_blank" rel="noreferer noopener">Home</a></li>
                <li><a href="/about" target="_blank" rel="noreferer noopener">About</a></li>
                <li><a href="/blog" target="_blank" rel="noreferer noopener">Blog</a></li>
				<li><a href="/todo" target="_blank" rel="noreferer noopener">Todo</a></li>
            </ul>
        </nav>

		<h1>Astro</h1>
		<h2>Astro tutorial and deployment</h2>
	</body>
</html>
