---
import Social from "../components/Social.astro";
import "../styles/global.css";
const platform = "github";
const userName = "dr3apap"
---
<p>Learn more about my projects on <a href={`https://www.${platform}.com/${userName}.com`}>{platform}</a></p>
<Social platform="twitter" userName="Dr3_147"/>
<Social platform="linkedin" userName="dr3apap"/>
