---
const { class:className } = Astro.props;
import "../styles/global.css";
---
<nav class= {className}>
<ul>
    <li><a href="/" target="_blank" rel="noreferer noopener">Home</a></li>
    <li><a href="/about" target="_blank" rel="noreferer noopener">About</a></li>
    <li><a href="/blog" target="_blank" rel="noreferer noopener">Blog</a></li>
    <li><a href="/todo" target="_blank" rel="noreferer noopener">Todo</a></li>
</ul>
</nav>
